/* QRScanner.css */
.qr-scanner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px); /* Adjusted height calculation */
    margin-top: 60px;
  }
  
  .qr-scanner-content {
    height: 100%; /* Set a fixed height for the content container */
  }
  
  .refresh-button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .refresh-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .refresh-button:hover {
    background-color: #45a049;
  }
  
  /* Add styles to fix the width and height of the QR scanner */
  .qr-scanner {
    width: 400px;
    height: 400px;
    margin-left: 35px;
}

.next-button.disabled {
  background-color: gray;
  color: #fff; /* Change the text color if needed */
}